<%= form_with model: @report do |form| %>
  <div>
    <% form.label :grade %><br>
    <%= form.text_area :grade, class: "form-control", placeholder:"Mark", autofocus: true  %>
  </div>
  <br/>
  <div>
    <%= form.submit "Add mark", class: 'btn btn-primary' %>
  </div>
<% end %>